.lock-process {
    color: white;
    font-size: 20px;
}

.Step-Box {
    margin-top: 50px;
    padding: 30px 30px 0px 30px;
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(112, 112, 112, 0.15);
    border-radius: 5px;
    color: #D3D3D3;

    @media (max-width: 576px) {
        padding: 20px;
    }
}

.bitx-input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 8px 20px;
    color: #D3D3D3;

    &:hover,
    &:focus {
        outline: none;
    }
}

.step-title {
    font-size: 16px;
}

.token-info {
    padding: 15px;
    color: #8f8f8f;
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid #05AB76;
    border-radius: 5px;
}

.step-but {
    padding: 8px 25px;
    border-radius: 5px;
    border: 1px solid #05AB76;
    transition: .3s ease-in-out;

    &:hover {
        background: #05AB76;
        color: black;
        cursor: pointer;
    }
}

.text-primary-color {
    color: #05AB76;
}

.text-dark-color {
    color: #a1a1a1;
}

.token-lock-chip {
    margin-left: 15px;
    border: 1px solid #05AB76;
    border-radius: 3px;
    background: #1E2027;
    padding: 10px 15px;
    font-size: 15px;
    color: #05AB76;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
        background: #05ab76c4;
        color: black;
    }
}

.token-lock-chip-active {
    margin-left: 15px;
    border: 1px solid #05AB76;
    border-radius: 3px;
    background: #05ab76;
    padding: 10px 15px;
    font-size: 15px;
    color: black;
    cursor: pointer;
}